@import "./main.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --color-sol: linear-gradient(to bottom, #ffba65, #ffa169, #ff8779, #ff7091, #ff62ae);
  --color-nublado: linear-gradient(to bottom, #b9ccd2, #98b1ba, #7798a2, #577e8b, #366675);
  --color-chuvoso: linear-gradient(to bottom, #8ec6f6, #75acee, #6791e4, #6575d5, #6c55c1);

  --fc-sol: #8B570F;
  --fc-nublado: #214A56;
  --fc-chuvoso: #5F63A6;

  --primary-font: 'Open sans', sans-serif ;
  --text-color: #FFFFFF; 

}



